body {
       margin: 40px 8px;
       height: 100vh;
       width: 100vw;
       color: #000000;
       background: linear-gradient(to bottom, #f0dab5, #8dc8e6);

       /* background-color: gray; */
   
     
}
input {
  margin-left: 6px;
  font-size: 16px;
  border: 3px solid #678ad5;
  background-color: #f5f5ff;
  border-radius: 5px;
  outline: 0;
}

.input-and-button-wrapper {
      display: flex;
      justify-content: center;
      text-align: center;
}


.success {
  background-color: #1e3f60;
  color: #ecf6fd;
      margin: 7px;   
    }

    .success:hover {
      background-color: green;
      transition: all .15s ease-in-out;
    }

    .delete {
      margin-right: 5px;
      background-color: lightcoral;
      
    }
    
    .delete:hover {
      background-color: red;
      transition: all .15s ease-in-out;
    }

    button { 
      color: white;
      border: none;
      font-size: 11px;
      border-radius: 8px;
      padding: 7px 10px;
    }
  
.add-button {
  border: none;
  font-weight: 700;
  border-radius: 8px;
  width: 56px;
  height: 32px;
  text-align: center;
  background-color: #568cff;
  margin-left: 8px;
  filter: drop-shadow(3px 3px 3px #222222);
  margin-left: 8px;
}

.comment-wrapper {
  width: 600px;
  margin: 20px auto;
}

.comment {
  margin-left: 28px;
  margin-top: 8px;
}

.comment-text {
  font-size: 32px;
  color: white;
}

.button-and-likes-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.likes-text {
  font-size: 20px;
  color: white;
}

.reply-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.hide-reply > .reply-wrapper {
  display: none;
}
.box {
        /* border: 5px solid black; */
        /* background-color: #132e48; */
        background-color:  rgb(129, 98, 98);
        display: flex;
        max-width: max-content;
        
}

